.container {
  margin: 10px 100px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  width: 100%;

  span {
    font-size: 44px;
    margin-bottom: 20px;
  }
}

.content-list {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 20px;
}

.filters-container {
  width: 220px;
  top: 0;
  align-self: flex-start;
  height: 100vh;
  overflow-y: auto;
  padding-right: 12px;
}

.list-data {
  flex: 1;
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.load-more {
  grid-column: 1 / -1;
  padding: 12px;
  width: 175px;
  margin-top: 16px;
  margin-bottom: 20px;
  background: #fb953e;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
