.container {
  margin: 10px 100px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  width: 100%;

  span {
    font-size: 44px;
    margin-bottom: 20px;
  }
}

.content-list {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 20px;
}

.filters-container {
  width: 220px;
  top: 0;
  align-self: flex-start;
  height: 100vh;
  overflow-y: auto;
  padding-right: 12px;
}

.list-data {
  flex: 1;
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.load-more {
  grid-column: 1 / -1;
  padding: 12px;
  width: 175px;
  margin-top: 16px;
  margin-bottom: 20px;
  background: #fb953e;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.order-by {
  display: inline-block;
  position: relative;
  margin-left: auto;
}

.order-by {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.order-by label {
  white-space: nowrap;
}

.order-by select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 6px 28px 6px 8px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    margin: 10px 16px;
  }

  .header-list {
    flex-direction: column;
    align-items: center;

    span {
      font-size: 44px;
    }
  }

  .mobile-bar {
    display: flex;
    width: 100%;
    margin: 0 5px 10px 5px;

    button {
      background: #fff;
      border: 1px solid #666;
      color: #666;
      width: 100%;
      padding: 6px 12px;
      font-size: 33px;
      cursor: pointer;
    }
  }

  .content-list {
    flex-direction: column;
    gap: 20px;
  }

  .filters-container {
    display: none;
  }

  .list-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .drawer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 2000;
    padding: 20px;
    overflow-y: auto;

    h3 {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: bold;
    }

    .close {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }

  body.drawer-filters-open .drawer-filters {
    left: 0;
  }

  body.drawer-order-open .drawer-order {
    right: 0;
  }
}
