.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: right 0.3s ease-in-out;
  z-index: 2000;
  padding: 2px;
  overflow-y: auto;

  .header {
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 2px solid #666;
  }

  span {
    font-size: 38px;
    color: #666;
  }

  .close {
    background: none;
    border: none;
    font-size: 38px;
    color: #666;
    font-family: "Open sans", sans-serif;
    cursor: pointer;
    position: absolute;
  }

  .topic {
    display: flex;
    background: none;
    border: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 30px 0;
    width: 100%;
    color: #666;
    cursor: pointer;
    span {
      font-size: 28px;
      color: #666;
    }
  }

  .filter-list {
    list-style: none;
    padding: 0;
    margin: 0 20px;
  }

  .filter-option {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
    font-size: 16px;
  }

  .size-grid {
    display: grid;
    width: 50%;
    margin: 0 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }

  .size-button {
    padding: 8px;
    border: 1px solid #aaa;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
  }

  .size-button.active {
    border: 2px solid #fb953e;
    font-weight: bold;
  }

  .btn-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    bottom: 0;
    left: 0;
  }

  .load-more {
    grid-column: 1 / -1;
    padding: 12px;
    width: 175px;
    margin-top: 16px;
    margin-bottom: 20px;
    background: #fb953e;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .load-less {
    grid-column: 1 / -1;
    padding: 12px;
    width: 175px;
    margin-top: 16px;
    margin-bottom: 20px;
    background: #fff;
    color: #333;
    border: 1px solid #333;
    font-weight: bold;
    cursor: pointer;
  }
}
