// @import "reset";
@import "../pages/Home/home.scss";
@import "../components/Header/header.scss";
@import "../components/List-Products/list-products.scss";
@import "../components/Filters/filters.scss";
@import "../components/Product-Card/product-card.scss";

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
